<form action="/users" method="post" accept-charset="UTF-8">
  <label for="user">Username</label><br>
  <input type="text" id="user" name="user"><br><br>
  <label for="email">Email</label><br>
  <input type="email" id="email" name="email"><br><br>
  <label for="password">Password</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit">
</form>